.chat-main
  .main-header
    .left-box
      %h2.left-box__group-name group-name
      %ul.left-box__member-list member : 
      %li.left-box__member-list-member minami
    = link_to 'Edit',"#",class: 'edit-btn'
  .messages
  .form