.chat-main
  .main-header
    .left-box
      %h2.left-box__group-name group-name
      %ul.left-box__member-list member : 
      %li.left-box__member-list-member minami
    = link_to "Edit", "#", class: 'edit-btn'
  .messages
    .message
      .message__upper-info
        %h2.message__upper-info__talker minami
        %P.message__upper-info__day 2020/3/26
      .message__text おはよう
    .message
      .message__upper-info
        %h2.message__upper-info__talker minami
        %P.message__upper-info__day 2020/3/26
      .message__text こんにちは
    .message
      .message__upper-info
        %h2.message__upper-info__talker minami
        %P.message__upper-info__day 2020/3/26
      .message__text こんばんは
  .form
    .contents
      %input.contents__text{:placeholder => "type a message", :type => "text"}
        %label{class: "contents__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    %input.send-btn{:type => "submit", :value => "Send"}
    