.chat-main
  .main-header
    .left-box
      %h2.left-box__group-name group-name
      %ul.left-box__member-list member : 
      %li.left-box__member-list-member minami
    = link_to 'Edit',"#",class: 'edit-btn'
  .messages
    .message
      .message__upper-info
        %h2.message__upper-info__talker minami
        %P.message__upper-info__day 2020/3/26
      .message__text good
  .form